<div class="flex items-center justify-between">
  <h1 class="font-bold text-lg">
    Orders
  </h1>

  <h2 class="font-bold text-lg">
    <%= @orders.size %>
  </h2>
</div>

<ul class="flex flex-col gap-2 mt-4">
  <% @orders.each do |order| %>
    <li class="flex flex-row items-center rounded-md px-3 py-2 border border-gray-300">
      <div class="mr-3 pr-3 border-r-[1px] border-gray-200">
        <% if order.pending? %>
          <div class="w-3 h-3 bg-gray-500 rounded-full"></div>
        <% elsif order.in_progress? %>
          <div class="w-3 h-3 bg-orange-500 rounded-full"></div>
        <% else %>
          <div class="w-3 h-3 bg-green-500 rounded-full"></div>
        <% end %>
      </div>

      <p>
        <%= order.description %>
      </p>

      <div class="flex flex-nowrap gap-2 items-center ml-auto pl-3">
        <% if order.pending? %>
          <button class="p-2 bg-orange-500 text-white rounded-lg">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 3l1.166-.624 8 5.333v1.248l-8 5.334-1.166-.624V3zm1.5 1.401v7.864l5.898-3.932L5.75 4.401z"></path></svg>
          </button>
        <% elsif order.in_progress? %>
          <button class="p-2 bg-green-500 text-white rounded-lg">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 0 0-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path></svg>
          </button>
        <% end %>

        <%= link_to edit_order_path(order), 
          class: 'p-2 bg-yellow-300 rounded-lg' do 
        %>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32zm-622.3-84c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 0 0 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 0 0 9.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9z"></path></svg>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>